/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  	font-size: 16px;
  	/* Declare the base font-family - from google font api or other */
  	font-family: sans-serif;
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
	max-width: 1024px;
	text-align: center;
	padding: .5em;
	margin: auto;
}

header {}
header h1 {
	color:cornflowerblue;
	font-size: 2.5em;
}

header img {
	width: 30%;
	float: left;
}

header .subheading {
	font-size: 1.5em;
	text-align: center;
	margin-left: 8em;
	padding-bottom: .5em;
}

nav {}
nav button {
	float: right;
}
nav ul {
	list-style: none; 
	margin-top: 30px;
}

nav ul li {
	text-align: right;
	margin-top: 4px;
}

nav ul li a {}
nav ul li.active a {}
nav ul li a:hover { 
	color:coral
}

nav ul.hide{
	display: none;
}

main {}
main h2 {
	color: cornflowerblue;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

section {}

.forecast {
	display: none;
}

article {
	border: 1px solid;
}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 97%; /* fill the page in the small/phone view */
  margin: .25em;
}

footer {}
footer aside {
	background-color: cornflowerblue;	
}

footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */