@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
nav button {	 /* hamburger button does not need to be shown */
	display:none; 
} 

section.forecast {   /* show the 10-day forecast with the medium view and up */
	display: block; 
}

article p.town-article img {   /* responsive images */
	width: 62.666%; float:right; 
}
	
li {
    display: inline;
}

	

}