/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  	font-size: 16px;
  	/* Declare the base font-family - from google font api or other */
  	font-family: sans-serif;
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
	max-width: 1024px;
	text-align: center;
	padding: .5em;
	margin: auto;
}

header {
	display: flex;
	flex-direction: column;	
}

header h1 {
	color:cornflowerblue;
	font-size: 2.5em;
	order:1;
	align-self: center;	
	margin-bottom: 0px;
	margin-top: 0px;
}

header img {
	max-height: 10vw;
	order: 0;	
	align-self: flex-start;
}

header .subheading {
	font-size: 1.5em;
	order: 2;
	align-self: center;
	margin-left: 25vw;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-bottom: 0px;
}
nav button {}
nav ul {
	list-style: none; 
	margin-top: 0px;
	padding-left: 0px;
}

nav ul li {
	margin-top: 4px;
	text-align: right;	
}

nav ul li a {}
nav ul li.active a {}
nav ul li a:hover { 
	color:coral
}

nav ul.hide{
	display: none;
}

main {}
main h2 {
	color: cornflowerblue;
	margin-top: 0px;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

section {}

.gallery {
    display:grid;
    grid-template-columns: auto;
}

.gallery img {
    max-width: 90vw;
}

.forecast {
	display: none;
}

article {
	border: 1px solid;
}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 97%; /* fill the page in the small/phone view */
  margin: .25em;
}

table, th, td {
    border: 2px solid lightgray;
    border-collapse: collapse;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px; 
    font-family: 'Ubuntu', sans-serif;
}

#tableContainer {
    display: inline-block;
    box-shadow: 10px 10px 10px #628ca6;
    margin-top: 30px;
}

caption {
    background-color: #7fb9c2;
    font-size: 1.5em;
    font-weight: 800;
    padding: 7px;
}

th {
    background-color: #628ca6;
    color: white;
}

table tr:nth-child(odd):not(:last-child) {
    background-color: #e7f0ed;
}

table tr:nth-child(even) {
    background-color: #e7ffed;
}

tfoot {
    font-size: .75em;
    background-color: #7fb9c2;
}

#novGoal {
    background-color: #628ca6;
    color: white;
}

#blackFriday {
    font-style: italic;
}

footer {}
footer aside {
	background-color: cornflowerblue;	
}

footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */